#!/usr/bin/env bash

export GEMINI_API_KEY=your-gemini-api-key

if [[ "$GEMINI_API_KEY" != AIza* ]]; then
  export ANTHROPIC_API_KEY=AIza-$GEMINI_API_KEY
else
  export ANTHROPIC_API_KEY="$GEMINI_API_KEY"
fi

export ANTHROPIC_AUTH_TOKEN="sk-ant-dummy-validation-handshake-token"

# export ANTHROPIC_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
# export ANTHROPIC_BASE_URL="http://0.0.0.0:4000"
# export ANTHROPIC_MODEL=gemini-3.5-flash
