/* import theme */
@import "./themes/gruvbox.css";

/* global css */
* {
  border: none;
  border-radius: 10px;
  font-family: "JetBrainsMono NF", "GeistMono NFM";
  font-size: 14px;
  font-weight: 600;
  min-height: 12px;
}

/* waybar window */
window#waybar {
  background-color: @bg-darkest;
  color: @fg-primary;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.empty {
  background-color: @bg-dark;
}

/* tooltip */
tooltip {
  background-color: @tooltip-bg;
  color: @fg-primary;
  padding: 8px 12px;
  transition: all 0.3s ease-in-out;
}

tooltip label {
  padding: 4px;
  letter-spacing: 0.5px;
}

/* module styling (pill effect) */
#clock,
#window,
#workspaces,
#taskbar,
#network,
#pulseaudio,
#tray,
#sysinfo {
  background: @bg-dark;
  padding: 0px 8px;
  margin: 4px;
  background-clip: padding-box;
  border-radius: 8px;
}

/* Module Hover Effects */
#window:hover,
#taskbar button:hover,
#clock:hover,
#sysinfo:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover {
  background-color: @bg-medium;
  transition: all 0.2s ease-in-out;
}

/* workspaces */
#workspaces button {
  color: @fg-primary;
  border-radius: 2px;
  padding: 1px 4px;
  margin: 0.5px;
  min-width: 2px;
  border-bottom: 2px solid @bg-medium;
}

#workspaces button.active {
  color: @accent-primary;
  background-color: @bg-light;
  border-bottom: 2px solid @accent-primary;
}

#workspaces button.urgent {
  background-color: @hover-overlay;
  color: @accent-error;
  border-bottom: 2px solid @accent-error;
}

#workspaces button.hidden {
  background-color: @bg-dark;
  color: @accent-special;
  opacity: 0.6;
}

#workspaces button:hover {
  background-color: @bg-light;
  color: @accent-primary;
}

/* App Taskbar */
#taskbar button {
  padding: 2px 3px;
  border-radius: 2px;
}

#taskbar button.active {
  color: @accent-primary;
  background: @bg-medium;
  border-bottom: 2px solid @accent-secondary;
}

taskbar#waybar.empty {
  background: transparent;
}

/* Module Specific Colors */

/* sysinfo group module */
#cpu,
#temperature.cpu,
#memory,
#battery {
  padding: 0px 4px;
}

#sysinfo {
  transition: background-color 0.3s, box-shadow 0.3s;
}

#clock {
  color: @accent-warning;
}

#battery {
  color: @accent-success;
}

#cpu {
  color: @accent-secondary;
}

#temperature.cpu {
  color: @accent-error;
}

#memory {
  color: @accent-warning;
}

#network {
  color: @accent-special;
}

#window {
  color: @fg-secondary;
}

#pulseaudio {
  color: @accent-info;
}
