@import "./themes/gruvbox.css";

/* Global */
* {
  font-family: "JetBrainsMono NF", "GeistMono NFM";
  font-size: 14px;
  font-weight: 600;
  min-height: 12px;
  border: none;
  border-radius: 10px;
}

/* Main Bar Window */
window#waybar {
  background-color: @bg-darkest;
  color: @fg-primary;
  transition: background-color 0.5s;
}

window#waybar.empty {
  background-color: @bg-dark;
}

/* Tooltips */
tooltip {
  background-color: @tooltip-bg;
  color: @fg-primary;
  border: 1px solid @border-subtle;
  padding: 8px 12px;
}

/* MODULE PILLS */
#clock,
#workspaces,
#network,
#pulseaudio,
#tray,
#sysinfo,
#taskbar {
  background: @bg-dark;
  padding: 0px 8px;
  margin: 4px;
  border-radius: 8px;
}

/* Hover Effects */
#clock:hover,
#sysinfo:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover,
#taskbar button:hover {
  background-color: @bg-medium;
  transition: background-color 0.2s;
}

/* Workspaces */
#workspaces button {
  color: @fg-primary;
  padding: 0px 2px;
  margin: 0px 1px;
  border-bottom: 2px solid @bg-medium;
  border-radius: 2px;
}

#workspaces button.active {
  color: @accent-primary;
  background-color: @bg-light;
  border-bottom: 2px solid @accent-primary;
}

#workspaces button.urgent {
  color: @accent-error;
  border-bottom: 2px solid @accent-error;
}

#workspaces button:hover {
  background-color: @bg-light;
  color: @accent-primary;
}

/* Taskbar */
#taskbar button {
  padding: 0px 4px;
  border-radius: 2px;
}

#taskbar button.active {
  color: @accent-primary;
  background: @bg-medium;
  border-bottom: 2px solid @accent-secondary;
  margin-bottom: 0px;
}

/* System Info */
#sysinfo {
  padding: 0 4px;
}
#cpu,
#memory,
#battery,
#temperature {
  padding: 0px 6px;
  color: @fg-secondary;
}

/* Module Specific Colors */
#clock {
  color: @accent-warning;
}
#battery {
  color: @accent-success;
}
#cpu {
  color: @accent-secondary;
}
#temperature {
  color: @accent-error;
}
#memory {
  color: @accent-warning;
}
#network {
  color: @accent-special;
}
#pulseaudio {
  color: @accent-info;
}
