/* Import color theme */
@import "./themes/mocha-v2.css";

/* global css */
* {
  border: none;
  border-radius: 8px;
  font-family: "JetBrainsMono NF", "GeistMono NFM";
  font-size: 14px;
  font-weight: 600;
  min-height: 12px;
}

/* waybar */
window#waybar {
  background-color: @crust;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar.empty {
  background-color: @base;
}

/* tooltip (calendar, etc.) */
tooltip {
  background-color: @tooltip-glass;
  padding: 8px 12px;
  transition: all 0.3s ease-in-out;
}
tooltip label {
  padding: 4px;
  letter-spacing: 0.5px;
}

/* module styling (pill effect) */
#clock,
#window,
#workspaces,
#taskbar,
#network,
#pulseaudio,
#tray,
#sysinfo {
  background: @base;
  padding: 0px 10px;
  margin: 4px;
  background-clip: padding-box;
}

/* Hover effect */
#window:hover,
#taskbar button:hover,
#clock:hover,
#sysinfo:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover {
  background-color: @surface0;
  transition: all 0.2s ease-in-out;
}

/* workspaces module */
#workspaces button {
  color: @text;
  border-radius: 2px;
  padding: 1px 4px;
  margin: 0.5px;
  min-width: 2px;
}
#workspaces button.active {
  color: @teal;
  background-color: @surface2;
  border-bottom: 2px groove @teal;
}
#workspaces button.urgent {
  background-color: @hover;
  color: @red;
  border-bottom: 2px solid @red;
}
#workspaces button.hidden {
  background-color: @base;
  color: @mauve;
}
#workspaces button:hover {
  background-color: @surface2;
  color: @teal;
}

/* App Taskbar */
#taskbar button {
  padding: 2px 3px;
  border-radius: 2px;
}
#taskbar button.active {
  color: @teal;
  background: @surface1;
  border-bottom: 2px groove @sapphire;
}
taskbar#waybar.empty {
  background: transparent;
}

/* tweak modules */
#clock {
  color: @flamingo;
}

#sysinfo {
  font-weight: bold;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

#cpu,
#temperature.cpu,
#memory,
#battery {
  padding: 0px 4px;
}

#battery {
  color: @green;
}

#cpu {
  color: @sapphire;
}

#temperature.cpu {
  color: @red;
}

#memory {
  color: @peach;
}

#network {
  color: @yellow;
}

#window {
  color: @rosewater;
}
#pulseaudio {
  color: @mauve;
}
